<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1" />
    <link type="text/css" rel="stylesheet" href="/css/ViewDetail.css" />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    
    <link rel="stylesheet" href="/css/bootstrap.css">
    

    <title>Add Lecturer</title>
</head>

<body class="bg-gray-300" th:href="@{/css/ViewDetail.css}">

	<div th:if="${session.user.role == T(sg.edu.iss.caps.model.RoleType).ADMIN}" th:insert="fragments/general.html::navBar-admin"> </div>

    <section class="box-content" style="margin-top:88px">
        <div class="container">
            <div class="panel panel-primary">
                <div class="panel-body">
                    <h3 class="text-on-pannel text-primary"><strong class="text-uppercase"> Add New User </strong></h3>
                    <form th:action="@{/admin/saveNewUser}" method="post" th:object=${user}>
						
                        <label style="display:inline-block;width:200px">First Name:</label>
                        <input type="text" style="display:inline-block;width:200px" id="" name="firstname"></br>
                         
                         <label style="display:inline-block;width:200px">Surname:</label>
                        <input type="text" style="display:inline-block;width:200px" id="" name="surname"></br>
                         
                         <label style="display:inline-block;width:200px">Email:</label>
                        <input type="text" style="display:inline-block;width:200px" id="" name="email"></br>
                         
                         <label style="display:inline-block;width:200px">Password:</label>
                        <input type="text" style="display:inline-block;width:200px" id="" name="password"></br>
                         
                         <label style="display:inline-block;width:200px">Image:</label>
                        <input type="text" style="display:inline-block;width:200px" id="" name="imgUrl"></br>
                         
						<label style="display:inline-block;width:200px">Enrollment Date:</label>
                        <input type="text" style="display:inline-block;width:200px" id="" name="enrollmentDate" placeholder="dd/mm/yyyy"></br>
                         
                         <label style="display:inline-block;width:200px">Role:</label>
                         <select style="display:inline-block;width:200px" id="" name="role">
						    <option value="T(sg.edu.iss.caps.model.RoleType).STUDENT">Student</option>
						    <option value="T(sg.edu.iss.caps.model.RoleType).ADMIN">Lecturer</option>
						</select>
                         </br>
                         
						<input type="submit" class="btn btn-primary" value="Submit">
            			
                    </form>
                </div>
            </div>
        </div>
        
    </section>
   
    
</body>

</html>