<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1" />
    <link type="text/css" rel="stylesheet" href="/css/ViewDetail.css" />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    
    <link rel="stylesheet" href="/css/bootstrap.css">
    

    <title>Edit user success</title>
</head>

<body class="bg-gray-300" th:href="@{/css/ViewDetail.css}">

	<div th:if="${session.user.role == T(sg.edu.iss.caps.model.RoleType).ADMIN}" th:insert="fragments/general.html::navBar-admin"> </div>

    <section class="box-content" style="margin-top:88px">
        <div class="container">
            <div class="panel panel-primary">
                <div class="panel-body">
                    <h3 class="text-on-pannel text-primary"><strong class="text-uppercase"> Edit User Success! </strong></h3>
                    <form th:action="@{/admin/save}" method="post" th:object=${user}>
						<input type="hidden" th:field="*{id}">
						
                        <label style="display:inline-block;width:200px">First Name:</label>
                        <input disabled class="form-control no-input-border" type="text" style="display:inline-block;width:200px" id="" name="firstname"
                         th:value="*{firstname}"></br>

                         <label style="display:inline-block;width:200px">Surname:</label>
                        <input  disabled class="form-control no-input-border" type="text" style="display:inline-block;width:300px" id="" name="surname"
                         th:value="*{surname}"></br>                      
                         
                         <label style="display:inline-block;width:200px">Email:</label>
                         <input disabled class="form-control no-input-border" type="text" style="display:inline-block;width:200px" id="" name="email"
                         th:value="*{email}"></br>
                                                  
                         <label style="display:inline-block;width:200px">Password:</label>
                        <input disabled class="form-control no-input-border" type="text" style="display:inline-block;width:200px" id="" name="password"
                         th:value="*{password}"></br>
                         
                         <label style="display:inline-block;width:200px">Image:</label>
                        <input disabled class="form-control no-input-border" type="text" style="display:inline-block;width:200px" id="" name="imgUrl"
                         th:value="*{imgUrl}"></br>         
                         
                         <label style="display:inline-block;width:200px">Enrollment Date:</label>
                        <input disabled class="form-control no-input-border" type="text" style="display:inline-block;width:200px" id="" name="enrollmentDate"
                         th:value="*{enrollmentDate}"></br>     
                                                           			
                    </form>
                    
                    <div th:if="${user.role == T(sg.edu.iss.caps.model.RoleType).LECTURER}">
            			<a class="btn btn-primary" href="/lecturer/viewLecturers">Back to Lecturer List</a>
            		</div>
            		
                </div>
            </div>
        </div>
        
    </section>
   
    
</body>

</html>