<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
	
	
	<link rel="stylesheet" href="/css/bootstrap.css">
	
<title>HTML fragments for navBar, footer</title>
</head>
<body>

	<!-- Bootstrap whole library navigation bar -->
	<div th:fragment="navBar" id="navBar">
		<nav style="justify-content: center !important"
			class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
			<div class="container" style="text-align: center; width: 100%; margin-right: 15px !important; margin-left: 0px !important">
				<div class="collapse navbar-collapse" id="navcol-1" style=" justify-content: center !important">
					<!--<a href="index.html">My Account</a>-->
					<ul class="navbar-nav mr-auto" style="display: flex; width: 90%; margin-right: 0px !important;">
						<li class="nav-item" style="flex-grow: 1"><a class="nav-link"
							href="contact-us.html" style="font-size: 14px !important">My Account</a></li>
						<li class="nav-item" style="flex-grow: 1"><a class="nav-link"
							href="contact-us.html" style="font-size: 14px !important">My Courses</a></li>
						<li class="nav-item" style="flex-grow: 1"><a class="nav-link"
							href="contact-us.html" style="font-size: 14px !important">Find Courses</a></li>
						<li class="nav-item" style="flex-grow: 8"></li>
						<li class="nav-item" style="flex-grow: 1; text-align: right"><a class="nav-link" href="pricing.html" style="font-size: 14px !important">
						Log Out</a></li>
						
					</ul>
				</div>
			</div>
		</nav>
	</div>
	
	<!-- Breadcrumb NavBar -->
		<div th:fragment="navigationBar">
			<nav aria-label="breadcrumb" class="main-breadcrumb" style="margin-left: 64px; margin-right: 64px">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="index.html">Home</a></li>
					<li class="breadcrumb-item"><a href="javascript:void(0)">User</a></li>
					<li class="breadcrumb-item active" aria-current="page">User Profile</li>
				</ol>
			</nav>
		</div>
</body>
</html>