<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Login Page</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
</head>

<body>
    <main class="page pricing-table-page">
        <section class="clean-block clean-pricing dark">
            <div class="container">
                <div class="block-heading">
                    <h1>Welcome to T11CAPS</h1>
                </div>
                <div style="margin-top:30px;margin-bottom:20px;text-align:center;">
                  <IMG SRC='' Alt="Logo Picture"></IMG>
                </div>
                <div style="text-align:center; ">
                	<form name="f" th:action="@{/login}" method="post" style="display: inline-block">
 						<fieldset>
 							<legend>Please Login</legend>
 						                <div style="text-align:center;">
 						               		<div th:if="${param.error}" class="alert alert-error">
 						               		Invalid Username and password.
 						               		</div>
 						               	<div th:if="${param.logout}" class="alert alert-success">
 						               	You have been logged out
 						               	</div>
                <table>
                <tr>
                <th>Email</th><th><input type="text" id="email" name="username"></th>
                </tr>
                <tr>
                <th>Password</th><th><input type="password" id="password" name="password"></th>
                </tr>
                <tr>
                <th>Identity</th>
                <th><select name="identity"> 
                 <option value="student" selected>student</option>
                 <option value="lecturer">lecturer</option>
                 <option value="admin">admin</option>
                </select></th>
                </tr>
                </table> 
               
                </div>
                
                
                <div style="text-align:center;margin-top:30px">
                
                <button name="register" class="btn btn-outline-info" style="margin-right:10px; font-size: 14px">Register</button>
                <button type="submit" name="login"  class="btn btn-primary" style="margin-left:10px; font-size: 14px">Sign in</button>               
                </div>
 							
 						</fieldset>
               
                 </form> 
                </div>
                </div>             
        </section>
    </main>

</body>

</html>