<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Pricing - Brand</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="assets/fonts/simple-line-icons.min.css">
    <link rel="stylesheet" href="assets/css/Footer-Dark.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <link rel="stylesheet" href="assets/css/Search-Input-responsive.css">
    <link rel="stylesheet" href="assets/css/smoothproducts.css">
</head>

<body>

    <main class="page pricing-table-page">
        <section class="clean-block clean-pricing dark">
            <div class="container">
                <div class="block-heading">
                    <h1>Welcome to T11CAPS</h1>
                </div>
                <div style="margin-top:30px;margin-bottom:20px">
                  <IMG SRC='' Alt="Logo Picture"></IMG>
                </div>
                <table align="center">
                <tr>
                <th align="left" >Email</th><th><input type="text" id="email"></th>
                </tr>
                <tr>
                <th align="left">Password</th><th><input type="password" id="password"></th>
                </tr>
                <tr>
                <th align="left">Identity</th>
                <th align="left"><select name="Identity"> 
                 <option value="student" selected>Student</option>
                 <option value="lecturer">Lecturer</option>
                 <option value="administrator">Administrator</option>
                </select></th>
                </tr>
                </table>  
                <div style="text-align:center;margin-top:30px">
                
                <button name="register" class="btn btn-outline-info" style="margin-right:10px; font-size: 14px">Register</button>
                <button type="submit"name="login"  class="btn btn-primary" style="margin-left:10px; font-size: 14px">Sign in</button>               
                </div>
                </div>             
        </section>
    </main>

    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script src="assets/js/smoothproducts.min.js"></script>
    <script src="assets/js/theme.js"></script>
</body>

</html>