<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Login Page</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
</head>

<body style="background-color: #F1F1F1 !important">

    <main class="page pricing-table-page" style="background-color: #F1F1F1 !important">
        <section class="clean-block clean-pricing dark" style="background-color: #F1F1F1 !important">
            <div class="container">
                <div class="block-heading">
                    <h1>Course Application Processing System (CAPS)</h1>              
                </div>
                <div style="margin-top:30px;margin-bottom:20px;text-align:center;">
                  <img src='/image/logo-welcome.png'width="20%" height="20%" Alt="Logo Picture"></IMG>
                </div>
                
                <div style="text-align:center; ">
                <form th:action="@{/account/authenticate}" method="post" style="display: inline-block" th:object="${loginUser}">
                <div style="text-align:center;">
                
                <table >
                <tr>
                <th style="text-align: left">Email</th>
                <th><input type="text" id="email" name="email" th:field="*{email}"></th>
                </tr>
               
                <tr>
                <th style="text-align: left">Password</th><th><input type="password" id="password" name="password" th:field="*{password}"></th>
                </tr>
               
                <tr>
                <th style="text-align: left">Identity</th>
                <th style="text-align: left"><select name="identity"> 
                 <option value="student" selected>student</option>
                 <option value="lecturer">lecturer</option>
                 <option value="admin">admin</option>
                </select></th>
                </tr>
                <tr>
                	<td colspan=2 style="color:red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></td>
                </tr>
                <tr>
                	<td colspan=2 style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></td>
                </tr>
                <tr>
                	<td colspan=2 style="color:red" th:text="${errorMsg}"></td>
                </tr>
                </table> 
               
                </div>
                
                
                <div style="text-align:center;margin-top:30px">
                
                <!--  register button not implemented because registering is done by admin, not everyone should have the ability to register
                <button name="register" class="btn btn-outline-info" style="margin-right:10px; font-size: 14px">Register</button>
                -->
                <button type="submit" name="login"  class="btn btn-primary" style="margin-left:10px; font-size: 14px">Sign in</button>               
                </div>
                 </form> 
                </div>
                
                </div>             
        </section>
    </main>

</body>

</html>