<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
    
    <link type="text/css" rel="stylesheet" href="/css/Profile.css" />
    <link rel="stylesheet" href="/css/bootstrap.css">
    
    
</head>
<body class="bg-gray-300">

	
	<div th:if="${session.user.role == T(sg.edu.iss.caps.model.RoleType).STUDENT}" th:insert="fragments/general.html::navBar"> </div>
	<div th:if="${session.user.role == T(sg.edu.iss.caps.model.RoleType).LECTURER}" th:insert="fragments/general.html::navBar-lecturer"> </div>
	<div th:if="${session.user.role == T(sg.edu.iss.caps.model.RoleType).ADMIN}" th:insert="fragments/general.html::navBar-admin"> </div>
	
	<div class="container" style="margin-top: 88px; padding-left: 22px">
		<a href="javascript:history.back()">Go Back</a>
	</div>
	
	<div class="container">
		<div class="main-body">
			<div class="row gutters-sm">
				<div class="col-md-4 mb-3">
					<div class="card">
						<div class="card-body">
							<div class="d-flex flex-column align-items-center text-center">
								<img th:src="${user.imgUrl}"
									class="img-circle rounded-circle" width="150" alt="Admin" />
								<div class="mt-3">
									<h3 th:text="${user.firstname} +' ' + ${user.surname}">John Doe</h3>
									<p class="text-muted font-size-sm " th:text="${user.role}">Student</p>
									
									<!-- For link to student profile for admin and lecturer -->
									<button th:if="${user.role==T(sg.edu.iss.caps.model.RoleType).STUDENT}" class="btn btn-link"><span style="font-size: small;">View Student
											Performance</span></button>
											
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- Profile Description -->
				<div class="col-md-8">
					<div class="card mb-3">
						<div class="card-body" >

							<div class="row">
								<div class="col-sm-3">
									<h6 class="mb-0" >ID number</h6>
								</div>
								<span class="col-sm-9 text-secondary margin" th:text="${session.user.id}">
									1
								</span>
							</div>

							<hr>

							<div class="row">
								<div class="col-sm-3">
									<h6 class="mb-0" >Firstname</h6>
								</div>
								<div class="col-sm-9 text-secondary margin" th:text="${user.firstname}">
									John
								</div>
							</div>

							<hr>

							<div class="row">
								<div class="col-sm-3">
									<h6 class="mb-0" >Surname</h6>
								</div>
								<div class="col-sm-9 text-secondary margin" th:text="${user.surname}">
									Doe
								</div>
							</div>

							<hr>

							<div class="row">
								<div class="col-sm-3">
									<h6 class="mb-0">Email</h6>
								</div>
								<div class="col-sm-9 text-secondary margin" th:text="${user.email}">
									plsDontAnyhao@gmail.com
								</div>
							</div>

							<hr>

							<div class="row">
								<div class="col-sm-3">
									<h6 class="mb-0" >Enrollment Date</h6>
								</div>
								<div class="col-sm-9 text-secondary margin" th:text="${user.enrollmentDate}">
									15 Jan 2021 5:30 pm
								</div>
							</div>

							<hr>

							<!-- Edit Button for Admin -->
							<div class="row" style="text-align: right" th:if="${session.user.role == T(sg.edu.iss.caps.model.RoleType).ADMIN}">
								<div class="col-sm-12">
									<a class="btn btn-info" target="__blank"
										href="https://www.bootdey.com/snippets/view/profile-edit-data-and-skills">Edit</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
	</div>

    
</body>
</html>