<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Pricing - Brand</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="assets/fonts/simple-line-icons.min.css">
    <link rel="stylesheet" href="assets/css/Footer-Dark.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <link rel="stylesheet" href="assets/css/Search-Input-responsive.css">
    <link rel="stylesheet" href="assets/css/smoothproducts.css">
    <link rel="stylesheet" href="assets/bootstrap-v3/css/bootstrap.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
        <div class="container">
            <div class="collapse navbar-collapse" id="navcol-1"><a href="index.html">My Account</a>
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item"></li>
                    <li class="nav-item"><a class="nav-link" href="features.html">&nbsp;VIEW Course enrolment</a></li>
                    <li class="nav-item"><a class="nav-link active" href="pricing.html">VIEW PERFORMANCe</a></li>
                    <li class="nav-item"><a class="nav-link active" href="pricing.html">Log Out</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <main class="page pricing-table-page">
        <section class="clean-block clean-pricing dark">
            <div class="container">
                <div class="block-heading">
                    <h1>Welcome to join T11CAPS</h1>
                </div>
                <div style="margin-top:30px ;margin-bottom:20px">
                  <IMG SRC='' Alt="Logo Picture"></IMG>
                </div>
                <fieldset>
                <table align="center">
                <tr>
                <th align="left">Email</th><th><input type="text" id="email"></th>
                </tr>
                <tr>
                <th align="left">Password</th>
                <th><input type="password" id="password" class="form-control" data-toggle="password"></th>
                <th><p> Tips: please not less than 6 character</p></th>
                </tr>
                <tr>
                <th align="left">Comfirm Password</th><th><input type="password" id="password"></th>
                </tr>
                <tr>
                <th align="left" >Gender</th>
                <th><input type="radio" name="sex" id="male" value="male">
                    <lable for="male">Male</lable>
                    <input type="radio" name="sex" id="female" value="female" checked>
                    <lable for="female">Female</lable>                 
                </th>
                </tr>
                <tr>
                <th align="left" >Identity</th>
                <th><select name="Identity"> 
                 <option value="student" selected>Student</option>
                 <option value="lecturer">Lecturer</option>
                 <option value="administrator">Administrator</option>
                </select>
                </th>
                </table>  
                <div style="text-align:center;margin-top:30px">
                <button type="reset" name="reset"style="background:CornflowerBlue;color:white;font-family:Serif;font-size:larger" >Reset</button>
                <button type="submit"name="register"  style="background:CornflowerBlue;color:white;font-family:Serif;font-size:larger">Submit</button>               
                </div>
                </fieldset>
                </div>             
        </section>
    </main>
    <footer class="footer-dark">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-3 item">
                    <h3>About</h3>
                    <ul>
                        <li><a href="#">Company</a></li>
                        <li><a href="#">Team</a></li>
                        <li><a href="#">Careers</a></li>
                    </ul>
                </div>
                <div class="col-md-6 item text">
                    <h3>T11 CAPS</h3>
                    <p></p>
                </div>
                <div class="col item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a></div>
            </div>
            <p class="copyright">T11 CAPS © 2021</p>
        </div>
    </footer>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script src="assets/js/smoothproducts.min.js"></script>
    <script src="assets/js/theme.js"></script>
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/bootstrap-show-password.js"></script>
</body>

</html>