<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
    
    <link type="text/css" rel="stylesheet" href="/css/Profile.css" />
    <link rel="stylesheet" href="/css/bootstrap.css">
    
    
</head>
<body class="bg-gray-100">

	
	<div th:insert="fragments/general.html::navBar-lecturer"> </div>
	
	<div class="container" style="margin-top: 88px">
		<div class="main-body">
			<div class="row gutters-sm">
				<div class="col-md-4 mb-3">
					<div class="card">
						<div class="card-body">
							<div class="d-flex flex-column align-items-center text-center">
								<img src="https://bootdey.com/img/Content/avatar/avatar7.png"
									class="img-circle rounded-circle" width="150" alt="Admin" />
								<div class="mt-3">
									<h3 th:"${}">Elon Doge</h3>
									<p class="text-muted font-size-sm" th:text="${T(sg.edu.iss.caps.model.RoleType).LECTURER}"></p>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- Profile Description -->
				<div class="col-md-8">
					<div class="card mb-3">
						<div class="card-body">

							<div class="row">
								<div class="col-sm-3">
									<h6 class="mb-0">ID number</h6>
								</div>
								<div class="col-sm-9 text-secondary margin">
									1
								</div>
							</div>

							<hr>

							<div class="row">
								<div class="col-sm-3">
									<h6 class="mb-0">Firstname</h6>
								</div>
								<div class="col-sm-9 text-secondary margin">
									John
								</div>
							</div>

							<hr>

							<div class="row">
								<div class="col-sm-3">
									<h6 class="mb-0">Surname</h6>
								</div>
								<div class="col-sm-9 text-secondary margin">
									Doge
								</div>
							</div>

							<hr>

							<div class="row">
								<div class="col-sm-3">
									<h6 class="mb-0">Email</h6>
								</div>
								<div class="col-sm-9 text-secondary margin">
									sianofcoding@gmail.com
								</div>
							</div>
							
							<div class="row">
								<div class="col-sm-3">
									<h6 class="mb-0" >Enrollment Date</h6>
								</div>
								<div class="col-sm-9 text-secondary margin" th:text="${enrollDate}">
									15 Jan 2021 5:30 pm
								</div>
							</div>

							<hr>

							
							<!-- Edit Button for Admin -->
							<div class="row"  th:if="${T(sg.edu.iss.caps.model.RoleType).ADMIN}" style="text-align: right">
								<div class="col-sm-12">
									<a class="btn btn-success" target="__blank">Edit</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
	</div>

    
</body>
</html><!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

</body>
</html>